.popular-products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #4c3ba1;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-item.selected {
    background-color: #161717;
    color: white;
  }
  