header {
  background-color: #27293d;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: auto; /* Move the navigation links to the right */
  cursor: pointer;
}

/* Style the links */
.nav-links a {
  color: white;
  text-decoration: none;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
